@{
    ViewData["Title"] = "Movies";
    ViewBag.PageNum = Model.PagingInfo.CurrentPage;
}

@model MovieListViewModel   


<div class="container mb-xl-5">
    <div class="container mb-4">
        <h1 class="display-3 text-light">Page @Model.PagingInfo.CurrentPage</h1>
    </div>
    <table class="table table-hover text-light">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Rating</th>
                <th scope="col">Year</th>
                <th scope="col">Director</th>
                <th scope="col">Lent To</th>
                <th scope="col">Edited</th>
                <th scope="col">Notes</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <partial name="MovieSummary" model="movie" />
            }
        </tbody>
    </table>
</div>
<div class="container my-4 d-flex justify-content-center"
     page-model="@Model.PagingInfo"
     page-action="Movies"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-secondary mx-1"
     page-class-selected="btn-outline-light">
</div>