@{
    ViewData["Title"] = "Podcast";
}


<div class="container my-5">
    <h1 class="display-2 text-light">Check out my podcast at the link below!</h1>
    <a class="btn btn-lg btn-outline-light mt-4" href="https://baconsale.com/" title="Link to https://www.baconsale.com">Click Here</a>
    <div class="m-5">
        <p class="blockquote text-light">Baconsale is a delightfully immature, yet family-friendly podcast focused on sharing ridiculous opinions about subjects that don't really matter. The podcast is the brainchild of a comedian (Joel) who loves movies, a film critic (Kent) who is sometimes funny, and Zack is there to keep them on track. Listen as we rank, review, tier, and discuss movies, music, fast food, television shows, video games, and so many unexpected pop-culture topics.</p>
    </div>
</div>
