body {
    background-image: linear-gradient(140deg, rgb(0, 0, 30), rgb(35, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    border-radius: 5px;
}

.my-extra {
    margin: 6em 0 6em 0;
}

@keyframes flow {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
}

.title-page-text {
    animation: flow 20s ease-in-out infinite;
    background: linear-gradient(112deg, rgb(255, 64, 64), rgb(255, 84, 207));
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
    font-size: 20vh;
    font-family: Roboto;
}

.frosted {
    backdrop-filter: blur(10px);
    background-color: rgba(100, 100, 100, 0.15);
    box-shadow: 0 0 10px 5px rgba(70, 70, 70, 0.12);
}
