body {
    background-image: linear-gradient(140deg, rgb(0, 0, 50), rgb(42, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    border-radius: 5px;
}

.my-extra {
    margin: 6em 0 6em 0;
    height: 80vh;
    overflow-y: scroll;
}

@keyframes flow {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
}

.title-page-text {
    animation: flow 20s ease-in-out infinite;
    background: linear-gradient(60deg, rgb(255, 53, 53), #aa42ff, rgb(255, 101, 155));
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
    font-size: 20vh;
    font-family: Roboto;
}

.frosted {
    backdrop-filter: blur(10px);
    background-color: rgba(100, 100, 100, 0.27);
    box-shadow: 0 0 10px 5px rgba(70, 70, 70, 0.12);
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(168deg, rgba(255, 53, 53, 0.5), #aa42ff, rgba(255, 101, 155, 0.5));    
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(168deg, rgb(255, 53, 53), #aa42ff, rgb(255, 101, 155));
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    backdrop-filter: blur(10px);
    background-color: rgba(100, 100, 100, 0.27) !important;
    color: #f8f9fa !important;
}